@import 'antd/dist/antd.dark.css';
@font-face {
    font-family: "iconfont"; /* Project id 3378536 */
    src: url('//at.alicdn.com/t/font_3378536_1zetfhxkpic.woff2?t=1651751692966') format('woff2'),
         url('//at.alicdn.com/t/font_3378536_1zetfhxkpic.woff?t=1651751692966') format('woff'),
         url('//at.alicdn.com/t/font_3378536_1zetfhxkpic.ttf?t=1651751692966') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-zhedie{
    transition: .3s all ease-out;
    &::before{
        content: "\e6cf";
        font-size: 20px;
        cursor: pointer;
        transition: .3s all;
    }
    
    &:hover{
        text-shadow: 0 0 2px #fff;
    }
  }
  .isread{
    transform: rotate(180deg);
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        width: 6px;
        background-color:#f2f2f2;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--theme-bgc);
        cursor: pointer;
    }
    &::-webkit-scrollbar-track-piece {
       
        background-color: white;
    }
}



/*包含以下四种的链接*/
a {
    text-decoration: none;
    color: black;
    &:hover{
        color: black;
    }
}

p {
    margin: 0;
}

body {
    overflow-x: hidden;
}

button {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    /*消除默认点击蓝色边框效果*/
    outline: none;
}

input {
    outline: none;
    border: none;
}
li{
    list-style: circle;
    margin-top: 6px;
}
:root {
    --theme: #8ac6d1;
    --deep-theme:#56738d;
    /* 色彩规范 */
    --tips-text: #BFBFBF;
    --main-text: #999;
    --input-text: rgba(240, 241, 242);

    /* 字体 */
    --theme-family: 'Noto Sans S Chinese';
    /* 背景色 */
    --theme-bgc: #282c34;
}
#root{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: overlay;
    background: var(--theme-bgc);
}
.ant-spin-dot-item{
    background-color: #fff;
}
.ant-spin-text{
    color: var(--main-text);
}
.spin-cover{
    width: calc(100% - 240px);
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--theme-bgc);
    top: 50px;
    left: 240px;
    z-index: 3;
}
.spin-cover-hidden{
    display: none;
}