.code-ct{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .monaco-editor{
        width: 100%!important;
        height: 100%!important;
        display: flex;
        .overflow-guard{
            width: 100%!important;
            height: 100%!important;
        }
    }
    .monaco-scrollable-element{
        width: calc(100% - 64px)!important;
        height: 100%!important;
    }
}