.error-text{
    color: #d74e45;
}

.log-info-item{
    width: 100%;
    color: var(--main-text);
    margin-top: 10px;
    line-height: 24px;
    span{
        margin: 0 4px;
        display: inline-block;
    }
    .info-level-INFO{
        color: #389e0d;
    }
    .info-level-ERROR{
        color: #d74e45;
    }
    .info-level-COME,.info-level-EXIT{
        color: #d48806;
    }
    .info-level-INFO,.info-level-COME,.info-level-EXIT,.info-level-ERROR{
        min-width: 3em;
        display: inline-block;
    }
    .info-site{
        color: #2979c1;
        cursor: pointer;
        transition: .3s all ease-out;
        &:hover{
            color: #61aae9;
        }
    } 
    .info-content{
        max-width: 100%;
        color: var(--main-text);
        vertical-align: bottom;
        line-height: 24px;
        font-weight: normal;
    }
}