.log-box{
    width: 80%;
    border-radius: 4px;
    padding:0 8px;
    border: 1px solid #bfbfbf;
    background: #373939;
    margin: 20px 0;
    position: relative;
    transition: .4s all ease-out;
    overflow: hidden;
    .read-btn{
        position: absolute;
        right: -80px;
        width: 80px;
        text-align: center;
        height: 34px;
        border-radius: 6px;
        border: 1px solid #bfbfbf;
        cursor: pointer;
        line-height: 34px;
    }
}
.log-main-isread{
    display: none;
}
.log-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bfbfbf;
    min-height: 40px;
    align-items: center;
    span{
        margin: 0 4px;
    }
    .log-createTime{
        color: #d4b106;
    }

    .log-level-INFO{
        color: #597ef7;
        color: #7cb305;
    }

    .log-level-ERROR{
        color: #ff7875;
    }

    .log-thread{
        color: #9f72b6;
    }

    .log-site{
        color: #398eca;
    }

    .log-mode{
        color: #36cfc9;
    }
    .log-type{
        color: #fa8c16;
    }
    
}

.log-main{
    margin: 10px 24px;
    .main-title{
        font-weight: bold;
        color: #bfbfbf;
        span{
            font-weight: normal;
            display: inline-block;
            max-width: calc(100% - 40px);
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
            vertical-align: bottom;
        }
    }
    .log-datalist{
        margin: 10px 24px;
    }
    .log-stackList{
        
        margin: 0 24px;
        li{
            white-space:normal;
            word-break : break-all;
            word-wrap: break-word;
            font-weight: normal;
        }
    }
}