.paragraph-ct{
    display: inline-block;
    position: relative;
}
.info-content-control{
    position: absolute;
    top: -24px;
    right: 0;
    span{
        color: #bfbfbf;
        cursor: pointer;
        font-weight: normal;
        transition: .3s all ease-out;
        &:hover{
            color: aliceblue;
        }
    }
}